[submodule "andreampiovesana/addons_it"]
	path = andreampiovesana/addons_it
	url = git@github.com:andreampiovesana/addons_it.git
	branch = 16.0

[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 16.0
